<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication8.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="WindowsFormsApplication8.Properties.Settings.Database2ConnectionString" connectionString="Data Source=|DataDirectory|\Database2.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="WindowsFormsApplication8.Properties.Settings.Database3ConnectionString" connectionString="Data Source=|DataDirectory|\Database3.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="WindowsFormsApplication8.Properties.Settings.Database1ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApplication8.Properties.Settings.Database2ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
